body {
    font-family: 'Helvetica', sans-serif;
    margin: 10px;
}

.collapsible-list {
    list-style: none;
    padding: 0;
}

.list-item {
    margin: 10px;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
}

.list-content {
    display: none;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.list-content p {
    margin: 0;
}

.circle {
    display: fle;
    height: 10vh;
    width: 10vh;

    border: 1px solid black;
    border-radius: 100%;
    text-align: center;


}