body {
    display: flex;
    align-items: center;
    background-color: rgb(63, 59, 54);


}

button {

    height: 5vh;
    width: 20vh;



}

#button2 {


    border-color: black;
    margin-top: 10px;

}